.error_explanation {
  color: red;
}


.content {
  text-align: center;
  padding: 100px 0 40px;
  font-size: 30px;
  font-weight: bold;
  font-family: $font;


  .field {
    font-size: 20px;
    color: $sub;
    font-family: "Century Gothic";

    img {
      width: 50px;
    }
  }
}

.input {
  height: 40px;
  width: 30%;
  font-size: 15px;
  text-align: center;
  outline: none;
  border-color: $sub;
  margin: 20px auto;

  span {
    display: block;
  }
  img {
    width: 600px;
  }
}

.input-explanation {
  height: 160px;
  width: 30%;
  font-size: 15px;
  text-align: center;
  outline: none;
  border-color: $sub;
  margin: 20px auto;
}

.submit-btn {
  font-family: $font;
  height: 40px;
  font-size: 20px;
  width: 120px;
  border-radius: 0%;
  color: white;
  background-color: $sub; 
  margin: 40px auto;
}

.login-submit-btn {
  font-family: $font;
  height: 40px;
  font-size: 20px;
  width: 120px;
  border-radius: 0%;
  color: white;
  background-color: $sub; 
  margin-bottom: 170px;
  margin: 40px auto 260px;
}


.new_user,.new_photo {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}

.new-post-submit-btn {
  font-family: $font;
  height: 40px;
  font-size: 20px;
  width: 120px;
  border-radius: 0%;
  color: white;
  background-color: $sub; 
  margin-bottom: 170px;
  margin: 40px auto 150px;
}


.icon {
  font-size: 60px;
  margin: 20px auto;
  white-space: nowrap;
}

.hidden {
  display: none;
}
