.complete
  .complete__box
    .complete__box__message
      削除が完了しました

  
    .complete__box__btn
      = link_to root_path, class: "link_btn" do
        .complete__box__btn__text
          TOPページに戻る