.wrapper
  = render "shared/header"

  .main
    %p.main__title
      ENGRAVED MEMORIES

    .main-contets
      .photo-title
        POSTS
      .photos
        = render @photos


  = render "shared/footer"

